@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --font-base: 'DM Sans', sans-serif;
  --primary-color: #f9f2ed;
  /* else use edf2f8 as primary */
  --secondary-color: #313bac;
  --black-color: #030303;
  --light-gray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SCROLL BAR STARTS */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #f9f2ed;
}
::-webkit-scrollbar:hover {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  /* background: -webkit-linear-gradient(315deg, #A88BEB, #F8CEEC, #A88BEB); */
  background: rgba(49, 59, 172, 0.85);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: -webkit-linear-gradient(315deg, #A88BEB, #F8CEEC, #A88BEB); */
  background: rgba(49, 59, 172, 1);
}
/* SCROLL BAR ENDS */